# dependencies
node_modules/
/.pnp
.pnp.js
.yarn/install-state.gz

# Next.js
.next/
out/

# environment
.env
.env.local
.env.*.local

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Git old
.git-old/
.vercel
.env*.local
